#body
{
    background-color: black;
    text-align: center;
}

#main-card
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 97%;
    background: white;
}

#main-card-2
{
    background-image: url("../../../assets/files/background.jpg");
    height: 97%;
    width: 94%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 97%;
}

#main-card-header
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: oblique;
    font-variant: small-caps;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#titulo-principal
{
    font-size: 30px;
}

#selector-registro-normal, #selector-registro-anonimo
{
    margin-top: 2.5rem;
    margin-left: 10%;
    width: 80%;
    border-radius: 10px;
    height: 30%;
    padding: 2rem;
}

#seccion-form-cliente-normal, #seccion-form-cliente-anonimo
{
    height: 60%;
    margin-left: 5%;
}

#container-imagen-form-cliente-anonimo
{
    width: 90%;
    height: 60%;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 2rem;
}

.input-cliente
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    border: 1px solid black;
    color: black;
    border-radius: 6px;
    height: 3rem;
    width: 90%;
    text-align: center;
    margin-right: 2.5%;
    margin-top: 0.5rem;
}

#nombre-cliente-normal, #apellido-cliente-normal, #dni-cliente-normal, #qrScanner-cliente-normal
{
    width: 43.5%;
}

#file-input1-paciente 
{
   color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 22px;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#indicador-de-sonido
{
    margin-bottom: 6%;
    margin-left: 5%;
}

// --- ESTILOS DE LA CAJA DE INPUT PERSONALIZADA ---
.inputfile-box 
{
    position: relative;
    border-radius: 8px;
    margin-top: 0.5rem;
    width: 90%;
    margin-left: 3%;
    height: 3rem;
}
  
.inputfile 
{
    display: none;
}
  
.file-box
{
    border-radius: 8px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    display: inline-block;
    color: black;
    background: white;
    width: 100%;
    border: 1px solid;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    height: 3rem;
}

#lbl-file-CliNormal, #lbl-file-CliAnon
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 17px;
}

.file-button 
{
    border-radius: 8px;
    background: white;
    color: black;
    padding: 5px;
    position: absolute;
    border: 1px solid;
    top: 0px;
    right: 0px;
    height: 2.95rem;
    width: 40%;
    border: 1px solid grey;
}

// --------------------------------------------

#btn-enviar-cliente-normal, #btn-enviar-cliente-anonimo
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    border: 1px solid black;
    background-color: rgb(163, 180, 211);
    color: black;
    border-radius: 6px;
    height: 3rem;
    width: 90%;
    text-align: center;
    margin-right: 2.5%;
    margin-top: 0.5rem;
}


// ANIMACIONES GENERADAS

/* ----------------------------------------------
 * Generated by Animista on 2022-11-6 20:28:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
