
.btnOpcionesHome
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 1000;
    font-size: 13px;
    width: 80%;
    margin-right: 0.5rem;
    margin-top: 0.8rem;
    --border-radius: 8px;
    margin-bottom: 0.81rem;
}