<div>
  <ion-button class="btnOpcionesHome" color="light" (click)="responderConsultas()">Responder consultas</ion-button>
  <!-- <ion-button class="btnOpcionesHome" color="light" (click)="listadoMesas()">Ver estado de mesas</ion-button>  -->
  <ion-button class="btnOpcionesHome" color="light" (click)="menu()">Menú</ion-button>
  <ion-button class="btnOpcionesHome" color="light" (click)="pedidosEnEspera()">Pedidos en espera</ion-button> 
  <ion-button class="btnOpcionesHome" color="light" (click)="pedidosDelMozo()">Mi gestión de pedidos</ion-button> 
</div>