<div>
  <ion-button class="btnOpcionesHome" color="light" (click)="altaSupervisorDueno()">Alta de supervisor/dueño</ion-button>
  <ion-button class="btnOpcionesHome" color="light" (click)="altaEmpleado()">Alta de empleado</ion-button>
  <ion-button class="btnOpcionesHome" color="light" (click)="altaMesa()">Alta de mesa</ion-button> 
  <ion-button class="btnOpcionesHome" color="light" (click)="aprobacionClientes()">Aprobación de clientes</ion-button> 
  <!-- <ion-button class="btnOpcionesHome" color="light">Evaluación de empleados</ion-button> 
  <ion-button class="btnOpcionesHome" color="light">Valuaciónes cargadas</ion-button>   -->
</div>