<body id="body">
  <ion-card id="main-card">
   <ion-card id="main-card-2">

      <ion-card-header id="main-card-header">
        <label id="titulo-principal">¡Haga su consulta, responderemos a la brevedad!</label><br>
      </ion-card-header>

      <div class="wrapper" *ngIf="spinnerMostrandose == true">
        <span class="circle circle-1"></span>
        <span class="circle circle-2"></span>
        <span class="circle circle-3"></span>
        <span class="circle circle-4"></span>
        <span class="circle circle-5"></span>
        <span class="circle circle-6"></span>
        <span class="circle circle-7"></span>
        <span class="circle circle-8"></span>
      </div>

      <div id="seccion-mensajes-cargados">
        <ul id="listado-mensajes">
          <div *ngIf="spinnerMostrandose == false" id="container-mensajes">
          <li *ngFor="let mensaje of (arrayMensajes | filtradorMensajaria); index as i" class="item-mensaje">

            <!-- El mensaje se muestra con un estilo determinado si el tipo no es mozo -->
            <div *ngIf="mensaje.tipo != 'mozo'" class="mensaje-cliente">
              <label class="data-mensaje-cliente">{{mensaje.hora}} - Mesa: {{mensaje.numMesa}}</label><br>
              {{mensaje.texto}}<br>
            </div>

             <!-- El mensaje se muestra con un estilo determinado si el tipo es mozo -->
            <div *ngIf="mensaje.tipo == 'mozo'" class="mensaje-mozo">
              <label class="data-mensaje-mozo">{{mensaje.emisor}} - {{mensaje.hora}}</label><br>
              {{mensaje.texto}}
            </div>
          </li>
          </div>
        </ul>
      </div>
      
      <input class="input-mensaje" placeholder="Escríba su mensaje acá" [(ngModel)]="mensajeRedactado">
      <ion-button class="btnOpcionesHome" color="light" (click)="enviarMensaje()">Enviar</ion-button>

   </ion-card>
  </ion-card>
</body>

<ion-fab id="indicador-de-sonido-chat" vertical="bottom" horizontal="start" slot="fixed" color="light">
  <ion-fab-button color="light" (click)="switchearEstadoSonido()">
    <ion-icon id="icono-sonido-mensajeria" name="volume-mute"></ion-icon>
  </ion-fab-button>
</ion-fab>
