#body-menu
{
    background-color: black;
    text-align: center;
}

#main-card-menu
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 97%;
    background: white;
}

#main-card-2-menu
{
    background-image: url("../../../assets/files/background.jpg");
    height: 97%;
    width: 94%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 97%;
}

#main-card-header-menu
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: oblique;
    font-variant: small-caps;
    margin-top: 2rem;
}

#titulo-principal-menu
{
    font-size: 42px;
}

#listado-menu-productos-comidas
{
  border: 1px solid gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 8px;
  width: 90%;
  height: 28rem;
  overflow: auto;
  margin-left: 5%;
}

.item-menu-producto
{
  list-style: none;
  border: 1px solid gray;
  background-color: gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 8px;
  width: 90%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// container-info-item-prod
// {
  
// }

.info-item-producto
{
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 17px;
  // background-color: gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  // width: 100%;
  padding: 0.3rem;
}

.foto1-producto
{
  border-top-left-radius: 8px;
}

.foto2-producto
{
  border-top-right-radius: 8px;
}

#indicador-de-sonido-menu
{
  margin-left: 5%;
  margin-bottom: 8%;
}

// SPINNER - STYLE

.wrapper
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%); 
  }
  .circle
  {
    display: inline-block;
    width: 15px;
    margin-left: 0.2rem;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
  }
  @keyframes loading
  {
    0%{
      transform: translateY(0px);
      background-color: #958a7a;
    }
    50%{
      transform: translateY(50px);
      background-color: #000000;
    }
    100%{
      transform: translateY(0px);
      background-color: #ffffff;
    }
  }
  .circle-1
  {
    animation-delay: 0.1s;
  }
  .circle-2
  {
    animation-delay: 0.2s;
  }
  .circle-3
  {
    animation-delay: 0.3s;
  }
  .circle-4
  {
    animation-delay: 0.4s;
  }
  .circle-5
  {
    animation-delay: 0.5s;
  }
  .circle-6
  {
    animation-delay: 0.6s;
  }
  .circle-7
  {
    animation-delay: 0.7s;
  }
  .circle-8
  {
    animation-delay: 0.8s;
  }

  //--