<body id="body-splash">
  <ion-card id="main-card-splash">
   <ion-card id="main-card-2-splash">
 
      <div id="container-titulo-principal-splash">
        <label id="titulo-principal-splash">Ribato</label><br><br>
      </div>

      <img id="icono-principal-splash" src="../../../assets/files/Ribato.png">

      <div id="container-splash">
        <label id="nombre-alpha">Gabriel <br>Lopez Gasal</label><br><br>
        <label id="nombre-beta">Valentín Laplume</label><br><br>
        <label id="nombre-gamma">Alejandra <br>Escubilla Texis</label><br>
        <br><br>
      </div>

      <label id="nombre-materia">PPS - 2022</label><br><br>
    
   </ion-card>
  </ion-card>
</body>